@import "../theme.css";

.hp-flex-wrapper {
  display: flex;
  width: 100%;
}

.text-wrapper {
  height: auto;
}

.svg-wrapper {
  margin: auto;
}

.svg-wrapper > svg > .playbtn_svg__animate-btn {
  transform: scale(0.95);
  animation-name: playbtn;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.4, 0.23, 0.25, 0.85);
  animation-iteration-count: infinite;
}

@media screen and (min-width: 320px) {
  .hp-flex-wrapper {
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
  }

  .svg-container {
    width: 310px;
    height: 310px;
    padding: 0 1rem;
  }

  .svg-wrapper {
    width: 100%;
    height: 100%;
  }

  .svg-wrapper > svg {
    width: 100%;
    height: 100%;
  }

  .text-wrapper {
    padding: 0 1rem;
  }
}

@keyframes playbtn {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  .svg-container {
    width: 450px;
    height: 450px;
  }
}

@media screen and (min-width: 1280px) {
  .hp-flex-wrapper {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .text-wrapper {
    width: 50%;
    height: 100%;
    padding: 0;
  }

  .svg-container {
    width: 50%;
    height: 100%;
    padding: 0;
  }

  .svg-wrapper {
    width: 700px;
    height: 700px;
  }
}
