@import "./theme.css";

.header-wrapper {
  position: fixed;
  top: -80px;
  height: 80px;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--default-main-bg-color);
  box-shadow: 0px 10px 13px hsl(0deg 0% 0% / 0.05);
  transition: top 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-flex-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-wrapper {
  position: relative;
}

.logo-title {
  font-size: var(--default-heading-3);
  font-family: var(--default-title-font);
  color: var(--default-text-color);
}

.nav {
  color: var(--default-text-color);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__list__items {
  color: var(--default-text-color);
  font-size: var(--default-caption);
}

.items__link {
  color: var(--default-text-color);
}

.nav-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-btn {
  margin: 0 1rem;
  padding: 0.6rem 2rem;
  font-weight: var(--default-fnt-weight-2);
  font-size: var(--default-caption);
  color: var(--default-invTxt-color);
  background-color: var(--default-prime-btn-color);
  border-radius: 7.5px;
  box-shadow: 0px 5px 10px hsl(0deg 0% 0% / 0.08);
  transition: all 400ms cubic-bezier(0.31, 0.06, 0.27, 1);
}

.register-btn:hover {
  background-color: var(--default-btn-hover-1);
  box-shadow: none;
}

.login-btn {
  margin: 0 1rem;
  padding: 0.6rem 1rem;
  font-weight: var(--default-fnt-weight-1);
  font-size: var(--default-reg-size);
  color: var(--default-text-color);
  border: none;
  transition: all 300ms cubic-bezier(0.31, 0.06, 0.27, 1);
}

.login-btn:hover {
  color: var(--default-prime-btn-color);
}

.header-wrapper--down {
  top: 0px;
}

@media screen and (min-width: 320px) {
  .header-wrapper {
    font-size: var(--default-reg-size);
  }

  .header-flex-wrapper {
    justify-content: space-between;
    padding: 0 0.5rem;
  }

  .logo-title {
    padding: var(--padding-1) 0;
  }

  .nav {
    display: none;
  }

  .btn-wrapper {
    display: none;
  }

  .hamburger-wrapper {
    position: relative;
    width: 36px;
    height: 36px;
    z-index: 0;
  }

  .hamburger-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .hamburger-menu {
    position: relative;
    z-index: 0;
  }

  .hm__path-1 {
    fill: none;
    stroke: var(--default-text-color);
    stroke-width: 1.0793;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: 7 25;
    stroke-dashoffset: 0;
    stroke-opacity: 1;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hm__path-2 {
    fill: none;
    stroke: var(--default-text-color);
    stroke-width: 1.07929;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: 6 6;
    stroke-dashoffset: 0;
    stroke-opacity: 1;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hm__path-3 {
    fill: none;
    stroke: var(--default-text-color);
    stroke-width: 1.0793;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dasharray: 7 25;
    stroke-dashoffset: 0;
    stroke-opacity: 1;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hm__path-1--animate {
    stroke-dasharray: 9 25;
    stroke-dashoffset: -16;
  }

  .hm__path-2--animate {
    stroke-dashoffset: -6;
  }

  .hm__path-3--animate {
    stroke-dasharray: 9 25;
    stroke-dashoffset: -15;
  }

  .hamburger-nav-wrapper {
    position: absolute;
    bottom: calc(80px - 100vh);
    left: 0;
    width: 100%;
    height: 0;
    background-color: purple;
  }

  .hamburger-nav {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .header-wrapper {
    padding: 0 2rem;
  }

  .header-flex-wrapper {
    justify-content: space-between;
    padding: 0;
  }

  .logo-title {
    padding: 0;
  }

  .nav {
    display: block;
  }

  .nav__list__items {
    padding: 1.5rem 1rem;
  }

  .btn-wrapper {
    display: block;
  }

  .hamburger-wrapper {
    display: none;
  }

  .hamburger-nav-wrapper {
    display: none;
  }
}
