@import "./theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--default-main-font);
  font-weight: var(--default-fnt-weight-1);
  background-color: var(--default-main-bg-color);
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
