@import "../theme.css";

.aside-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  transform: translateX(100%);
  top: 80px;
  right: 0;
  z-index: 5;
  transition: all 500ms var(--transition-1);
}

.aside-bg-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 0;
  overflow-y: auto;
  transition: all 1000ms 1000ms var(--transition-1);
}

.aside-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 350px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.aside-bg--active {
  opacity: 1;
  transition: all 400ms 500ms var(--transition-1);
}

.aside-bg--invis {
  opacity: 0;
}

.aside {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg-color);
  border-top: 1px solid var(--border-color);
  top: 0;
  right: 0;
  z-index: 0;
}

.aside--active {
  transform: translateX(0);
}

.acc-btn-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  transition: all 400ms var(--transition-1);
}

.acc-btn-wrapper:hover {
  background-color: #fff;
  color: var(--text-color);
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--grey-text);
}

.icon-wrapper > .user-icon {
  font-size: 1.1rem;
  color: var(--bg-color);
}

.login-title {
  margin-left: 0.5rem;
}

@media screen and (min-width: 320px) {
  .aside {
    width: 100%;
    height: 100vh;
  }

  .aside-bg {
    display: none;
  }

  .acc-btn-wrapper {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .aside {
    width: 350px;
  }

  .aside-bg {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1280px) {
}
