@import url("../theme.css");

.profile-page {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.profile-header {
  position: relative;
  width: 100%;
  height: 68px;
}

.profile-hb-wrapper {
  position: relative;
  width: 36px;
  height: 36px;
  z-index: 0;
}

.profile-hb-button {
  position: absolute;
}

.profile-hb-flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.banner-wrapper {
  position: relative;
  width: 100%;
  height: 220px;
  z-index: 0;
  background-color: var(--tertiary-color);
  margin-bottom: 60px;
  z-index: 0;
}

.banner-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bg-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: var(--bg-color);
  z-index: 2;
}

.img-wrapper {
  position: relative;
  width: 94%;
  height: 94%;
  background-color: var(--tertiary-color);
  border-radius: 50%;
  z-index: 1;
}

.avatar-img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
}

.add-img-btn-wrapper {
  position: absolute;
  bottom: 18px;
  right: -5px;
  min-height: 32px;
  transition: all 300ms var(--transition-1);
  z-index: 3;
}

.aimg-pos-rel-wrap {
  display: flex;
  align-items: center;
  position: relative;
  width: 32px;
  height: 32px;
  z-index: 0;
}

.add-img__btn {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  font-size: var(--reg-size);
  color: var(--disabled-color-2);
  border: 1px solid var(--border-color);
  background-color: var(--bg-color);
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 400ms var(--transition-1);
}

.fa-camera {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(45%, 45%);
}

.add-img__btn:hover {
  width: 150px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 3px 5px var(--shadow-color);
}

.add-img__btn:hover > .fa-camera {
  color: var(--btn-hover-2);
}

.add-img__btn:hover ~ .btn-text {
  opacity: 1;
  right: -340%;
}

.btn-text {
  position: absolute;
  top: 20%;
  right: -330%;
  opacity: 0;
  font-weight: 600;
  color: var(--btn-hover-2);
  z-index: 2;
  transition: all 400ms var(--transition-1);
}

.profile-pitch {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
  z-index: 3;
}

.profile-media-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  height: 50px;
  z-index: 0;
}

.flex-media-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.profile-media__btn {
  padding: 1rem;
  font-size: var(--btn-size);
  font-weight: var(--fnt-weight-2);
  color: var(--grey-text);
  border: 1px solid var(--border-color);
  border-radius: 7px;
  transition: all cubic-bezier(0.4, 0.4, 0.2, 1) 300ms;
}

.profile-media__btn:hover {
  color: var(--text-color);
  box-shadow: 0px 10px 13px var(--shadow-color);
}

.profile-media__btn > .fa-solid,
.profile-media__btn > .fa-solid {
  padding-right: 0.3rem;
  margin-right: 0.3rem;
}

.profile-media__list {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  transition: all var(--transition-1) 300ms;
  transform: translateY(60%) scaleY(0);
  opacity: 0;
  border-radius: 7px;
  transform-origin: top right;
}

.profile-media__list--transform {
  transform: translateY(60%) scaleY(1);
  opacity: 1;
}

.profile__list__item {
  position: relative;
  font-size: var(--btn-size);
  font-weight: 600;
  width: 100%;
  padding: 1rem 1.8rem;
  color: var(--grey-text);
  transition: all var(--transition-1) 300ms;
}

.profile__list__item > .fa-solid,
.profile__list__item > .fa-brands {
  margin-right: 0.8rem;
}

.profile__list__item:hover {
  color: var(--text-color);
  box-shadow: 0px 5px 30px var(--shadow-color);
}

.abs-list__btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.ellipsi-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.ellipsi-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  color: var(--grey-text);
  border: 1px solid var(--border-color);
  border-radius: 7px;
  transition: all var(--transition-1) 300ms;
}

.ellipsi-button:hover {
  color: var(--text-color);
  box-shadow: 0px 10px 13px var(--shadow-color);
}

.profile__title {
  width: 100%;
  text-align: center;
  font-family: var(--head-font);
  font-weight: var(--fnt-weight-2);
  padding-bottom: 1rem;
  margin-top: 1rem;
}

.profile-desc-wrapper--less {
  display: -webkit-box;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

.pitch__desc--less {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

.pitch__desc--more {
  word-break: normal;
}

.pitch__desc {
  line-height: 1.5;
}

.desc-btn-wrapper {
  margin: 0.5rem auto;
  width: 120px;
}

.desc-btn {
  padding: 0.3rem 0.5rem;
  transition: all var(--transition-1) 300ms;
  border: 1px solid var(--border-color);
  border-radius: 7px;
}

.desc-btn:hover {
  color: var(--btn-hover-1);
  box-shadow: 0px 10px 13px var(--shadow-color);
}

.desc-btn > .fa-angle-down,
.desc-btn > .fa-angle-up {
  display: inline-block;
  margin-left: 0.4rem;
}

.ml-link__btn {
  width: 60px;
  height: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  transition: all 400ms var(--transition-1);
}

.ml-link__btn:hover {
  background-color: var(--btn-hover-2);
  color: var(--invTxt-color);
  box-shadow: 0px 10px 13px var(--shadow-color);
}

.ml-link__btn > .fa-link {
  font-size: var(--reg-size);
}

@media screen and (min-width: 320px) {
  .profile-hb-flex-wrapper {
    padding: 0 1rem;
  }

  .flex-media-wrapper {
    justify-content: flex-end;
    width: 100%;
  }

  .profile-media-wrapper {
    justify-content: flex-end;
    width: 100%;
  }

  .profile-media__list {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--bg-color);
    border-radius: 7px;
    flex-direction: column;
    z-index: 2;
    cursor: pointer;
  }

  .social-media-wrapper {
    display: none;
  }

  .bg-img-wrapper {
    left: 50%;
    right: 50%;
    transform: translate(-50%, 60%);
  }

  .profile__title {
    text-align: center;
    font-size: var(--heading-4);
  }

  .profile__title > .fa-circle-check {
    display: inline-block;
    font-size: var(--heading-4);
    color: var(--btn-hover-1);
    margin-left: 0.5rem;
  }

  .profile-desc-wrapper--less,
  .profile-desc-wrapper--more {
    width: 80%;
    margin: 0.25rem auto;
  }

  .pitch__desc {
    text-align: center;
  }

  .desc-btn {
    margin: 0.5rem auto;
  }
}

@media screen and (min-width: 414px) {
  .profile-desc-wrapper {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .profile__title {
    font-size: var(--heading-3);
  }

  .profile-desc-wrapper--less,
  .profile-desc-wrapper--more {
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .profile-pitch {
    align-items: flex-start;
  }

  .profile-header {
    padding: 0 2rem;
  }

  .profile-media__btn {
    margin-right: 1.5rem;
  }

  .flex-media-wrapper {
    width: auto;
    justify-content: space-between;
  }

  .social-media-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .social-media__link {
    display: inline-block;
    padding: 1rem;
    font-size: var(--reg-size);
    font-weight: var(--fnt-weight-2);
    color: var(--grey-text);
    border: 1px solid var(--border-color);
    border-radius: 7px;
    margin-right: 1rem;
    transition: all cubic-bezier(0.4, 0.4, 0.2, 1) 300ms;
  }

  .social-media__link:hover {
    color: var(--text-color);
    box-shadow: 0px 10px 13px var(--shadow-color);
  }
  
  .profile-media-wrapper {
    width: 50%;
  }

  .profile-media__list {
    flex-direction: column;
    z-index: 2;
  }

  .bg-img-wrapper {
    left: 2rem;
    right: unset;
    transform: unset;
    transform: translateY(60%);
  }

  .profile-media__list--transform {
    transform: translateY(100%) scaleY(1);
    opacity: 1;
  }

  .profile__title {
    text-align: left;
    width: 50%;
  }

  .profile-desc-wrapper--less,
  .profile-desc-wrapper--more {
    width: 50%;
    margin: 0;
    margin-top: 0.5rem;
    max-width: 650px;
  }

  .pitch__desc {
    text-align: left;
  }

  .desc-btn {
    margin: 0;
    margin-top: 1rem;
  }

  .form__title {
    font-size: var(--heading-4);
  }

  .desc-btn-wrapper {
    margin: 0;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1312px) {
  .banner-wrapper {
    border-radius: 20px;
  }

  .banner-img {
    border-radius: 20px;
  }
}